:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-navy-ble-color: #2e2f42;
    --green-success-color: #31ddaa;
    --body-slate-text-color: #434455;
    --light-slate-subtle-text-color: #8e8f99;
    --cornflofer-accent-color: #e7e9fc;
    --cloud-light-color: #f4f4fd;
    --dairy-modal-color: #FCFCFC;
    --white-color: #ffffff;
    --light-grey-color: #e7e7e7;
}


/********************************Default styles*********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--body-slate-text-color);
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
    display: block;
    width: 100%;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input,
textarea,
button {
    font: inherit;
}

button {
    cursor: pointer;
    color: currentColor;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}



/**************************HEADER ************************/

.header {
    border-bottom: 1px solid var(--cornflofer-accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-items {
    display: flex;
    align-items: center;
}

.navigation-general {
    display: flex;
    align-items: center;

}

.logo-first-word-header {
    color: var(--primary-brand-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-second-word-header {
    color: var(--dark-navy-ble-color);
}

.navigation-list {
    display: flex;
    gap: 40px;

}

.navigation-menu {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    color: var(--dark-navy-ble-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-menu:hover,
.navigation-menu:focus {
    color: var(--pressed-state-color);
}

.navigation-menu:active {
    color: var(--pressed-state-color);
}

.navigation-menu-selected {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    color: var(--pressed-state-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu-selected::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
    width: 100%;

}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts-list {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-slate-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info:hover,
.contact-info:focus {
    color: var(--pressed-state-color);
}

.contact-info:active {
    color: var(--pressed-state-color);
}

/***************************************Section BENEFITS **********************************/
.section-benefits {
    background-color: var(--dark-navy-ble-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url("../images/hero-background.jpg");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;

}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
}

.main-cta {
    color: var(--white-color);
    background: var(--primary-brand-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--primary-brand-color);
    border-radius: 4px;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-cta:hover,
.main-cta:focus {
    background-color: var(--pressed-state-color);
}

.main-cta:active {
    background: var(--pressed-state-color);
}

/********************************* Section OUR VALUES************************************/

.our-values {
    padding: 120px 0;
}

.values-list {
    display: flex;
    gap: 24px;
}

.value-item {
    width: calc((100% - 72px)/4)
}

.value-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud-light-color);
    border-radius: 4px;
    margin-bottom: 8px;

}

/*.icon-value {
    width: 64px;
    height: 64px;
}*/

.category-title {
    color: var(--dark-navy-ble-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

/**************************** Section WHAT ARE WE DOING **********************************/
.what-we-are-doing {
    padding-bottom: 120px;
}

.page-title {
    color: var(--dark-navy-ble-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.what-we-are-doing-list {
    display: flex;
    gap: 24px;

}

.what-we-are-doing-item {
    width: calc((100% - 3 * 16px) / 3)
}

/******************** Section OUR TEAM ************************/

.section-our-team {
    background-color: var(--cloud-light-color);
    padding: 120px 0;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.member-team {
    background-color: var(--white-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-name {
    padding: 32px 0;

}

.member-name-surname {
    text-align: center;
}

.member-title {
    text-align: center;

}

.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    padding: 0;
}

.social-network-team {
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-network-name {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-network-name:hover,
.social-network-name:focus {
    background-color: var(--pressed-state-color);
}

.social-network-icon {
    fill: var(--cloud-light-color);
}

/**************************** Section Customers *************************/

.customers {
    padding-bottom: 120px;
    padding-top: 120px;
}

.customer-list {
    display: flex;
    gap: 24px;
}

.customer-link {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--light-slate-subtle-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate-subtle-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover {
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
    fill: var(--pressed-state-color);
}

.customer-link:focus {
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
    fill: var(--pressed-state-color);
}

.customer-logo {
    fill: currentColor;
}

.customer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

/*****************FOOTER***********************/

.footer {
    background-color: var(--dark-navy-ble-color);
    padding: 100px 0;

}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-paragraph-container {
    width: 264px;
    margin-right: 120px;
}

.logo-first-word-footer {
    color: var(--primary-brand-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.logo-second-word-footer {
    color: var(--cloud-light-color);
}

.text-footer {
    max-width: 264px;
    color: var(--cloud-light-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}



.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer-social-media-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    padding: 0;

}

.footer-social-media-item {
    width: 40px;
    height: 40px;
}

.footer-social-media-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
    background-color: var(--green-success-color);

}

.footer-social-media-logo {
    fill: var(--cloud-light-color);
}

.footer>.main-text {
    color: var(--cloud-light-color);
    letter-spacing: 0.02em;
    line-height: 1.5;

}

.subscribe-form-container {
    display: block;
    margin-left: 80px;
}

.subscribe-form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color)
}

.subscribe-form {
    display: flex;
    gap: 24px;


}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);

}

.subscribe-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif, ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--primary-brand-color);
    border: none;
    border-radius: 4px;
}

.subscribe-form-button-icon {
    margin-left: 16px;
    fill: var(--white-color);
}

.subscribe-form-input::placeholder {
    color: var(--white-color);
}

/*************************************PORTFOLIO************************************/
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-button {
    border: 1px solid var(--cornflofer-accent-color);
    background-color: var(--cloud-light-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-color);
    background-color: var(--pressed-state-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:active {
    background: var(--pressed-state-color);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;

}

.service-item {
    width: calc((100% - 48px) / 3);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-list-item-link {
    cursor: pointer;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.service-list-item-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.service-list-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.service-list-item-link:focus .service-overlay-text {
    transform: translateY(0%);
}

.service-list-item-link:hover .service-overlay-text {
    transform: translateY(0%);
}

.service-list-overlay {

    position: relative;
    overflow: hidden;
}

.service-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--primary-brand-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--cloud-light-color);
}

.app-container {
    border: 1px solid var(--light-grey-color);
    border-top: none;
    padding: 32px 16px;

}

.service-item-title {
    color: var(--dark-navy-ble-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.service-item-text {
    color: var(--body-slate-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/*************************************** Modal Window **********************************/
.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-window-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: var(--dairy-modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    ;
}

.modal-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflofer-accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-window-button:hover {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--white-color);
}

.modal-window-button:focus {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--white-color);
}


.modal-window-close-icon {
    fill: var(--dark-navy-ble-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover .modal-window-close-icon {
    fill: var(--white-color);
}

.modal-window-button:focus .modal-window-close-icon {
    fill: var(--white-color);
}

.contacts-form-description {
    font-family: Roboto;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--dark-navy-ble-color);
    margin-bottom: 16px;
}

.contact-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-subtle-text-color);
    display: block;
    margin-bottom: 4px;

}

/*.contact-form-label-description {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    116.667% 
    letter-spacing: 0.48px;
    color: var(--light-slate-subtle-text-color);
}*/

.contact-form-container {
    margin-bottom: 8px;
}

.contact-form-input-and-icon-container {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: var(--primary-brand-color);

}

.contact-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.contact-form-icon:focus {
    fill: #4D5AE5;
}

.contact-form-input:focus+.contact-form-icon {
    fill: #4D5AE5;
}

.contact-form-message-container {
    margin-bottom: 16px;
}

.contact-form-free-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-form-free-text:focus {
    border-color: var(--primary-brand-color);

}

.contact-form-checkbox-container {
    margin-bottom: 24px;
}



.contact-form-checkbox-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-subtle-text-color);

}




.contact-form-checkbox-icon-container {

    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;

}

.contact-form-checkbox:focus {
    border-color: var(--pressed-state-color);
}

.contact-form-checkbox:focus+.contact-form-checkbox-icon {
    fill: var(--pressed-state-color);
}

.contact-form-checkbox:focus+.contact-form-checkbox-label>.contact-form-checkbox-icon-container {
    border-color: var(--pressed-state-color);
}

.contact-form-checkbox:checked+.contact-form-checkbox-label>.contact-form-checkbox-icon-container {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--cloud-light-color);
}





.contact-form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    margin-left: auto;

}

.contact-form-button:hover,
.contact-form-button:focus {
    background-color: var(--pressed-state-color);
}

.contact-form-privacy-policy-link {
    color: var(--primary-brand-color);
    text-decoration: underline;
}