:root {
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --dark-navy-ble-color: #2e2f42;
    --green-success-color: #31ddaa;
    --body-slate-text-color: #434455;
    --light-slate-subtle-text-color: #8e8f99;
    --cornflofer-accent-color: #e7e9fc;
    --cloud-light-color: #f4f4fd;
    --dairy-modal-color: #FCFCFC;
    --white-color: #ffffff;
    --light-grey-color: #e7e7e7;
}